* {font-family: arial;}
body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    color: purple;
    box-sizing: border-box;
}
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}
.header {
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px; 
}
.logo img {
    height: 90px;
}
.sublogo {
    display: flex;
    align-items: center;
}
.sublogo img {
    
    max-width: 220px;
}
.menuareageral {
    display: flex;
    align-items: center;    
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    font-family: Arial;
    padding: 13px;
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fcc52a;
    border-radius: 2px;
}
nav .activemenu a,
nav a:hover {
    transition: 1s;
    background-color: #fcc52a;
    color: black;
}
#banner {
    display: flex;
    justify-content:center;
    background-image:url("images/banerapenasolho.png");
    background-position: center; 
    background-size:cover;
    background-color: white;
    min-height: 500px;
}
.column {
    flex-direction: column;
}
.bannerhead {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bannerhead h1 { 
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin: 0;
    padding: 0;
    max-width: 450px;
}
.bannerhead h2 { 
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banneroption {    
    height: 210;
    display: flex;
    flex-direction:row;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1 {
    background-color: #2d7904;
    font-size: 20px;
}
.banner2 {
    background-color: #349cf0;
    font-size: 20px;
}
.banner3 {
    background-color: rgb(18, 3, 151);
    font-size: 20px;
}
.desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banneroption a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.b3desc {
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 10px;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.sectioniframe {
    max-width: 990px;
}
.titlesectionwidget h2 {
    text-align: center;
    margin: 20px;
}
.widgettitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

}
.widgettitletext {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.widgettitlebar{
    width: 50px;
    height: 2px;
    background-color:rgb(51, 136, 136);
    margin-top: 10px;
    margin: auto;
}
.bodybox {
    display: flex;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    background-color: rgb(77, 172, 228);
}
.widgetbody {
   display: flex;
    justify-content: space-between;
}
.descmarque {
   border-bottom: 2px solid rgb(165, 162, 162);
   padding-bottom: 20px;
   vertical-align: middle;
   align-items: center;
   margin-top: 20px;
   margin-left: 10px;
}
.img {
   justify-content: center;
   margin: 5px;
   padding: 5px;
   vertical-align: middle;
   background-color: gray;
   border-radius: 5px;
   
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
/* section slide recents *//*//////////////////////////////////////////*/

            .mySlides {display: none}
            img {vertical-align: middle;}
            
            /* Slideshow container */
            .slideshow-container {
              max-width: 700px;
              position: relative;
              margin: auto;
            }
            
            /* Next & previous buttons */
            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }
            
            /* Position the "next button" to the right */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
              background-color: #fcc52a;
              color: black;
            }
            
            /* Caption text */
            .text {
              color: #f0f0f0;
              font-size: 15px;
              margin: auto;
              position: relative;
              bottom: 28px;
              text-align: center;
            }
            
            /* Number text (1/4 etc) */
            .numbertext {
              color: #000000;
              font-size: 14px;
              padding: 8px 12px;
              position: absolute;
              top: 0;
            }
            
            /* The dots/bullets/indicators */
            .dot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #fcc52a;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
              background-color: #717171;
            }
            
            /* Fading animation */
            .fade {
              animation-name: fade;
              animation-duration: 1.5s;
            }
            
            @keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }
            
            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {
              .prev, .next,.text {font-size: 11px}
            }



footer {
    display: flex;
    background-color: rgb(27, 27, 27);
    justify-content: center;
    margin-top: 20px;
}
.footermenu {
    display: flex;
    flex: 1;
}
.fmenu1, .fmenu2, .fmenu3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.iframemap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.fmenu1 {
    background-color: rgb(48, 160, 221);
    font-size: 20px;;
}
.fmenu2 {
    background-color: rgb(2, 110, 192);
    font-size: 20px;
}
.fmenu3 {
    background-color: rgb(38, 65, 141);
    font-size: 20px;
}
.itemfooter {
    display: flex;
    color: white;
    line-height: 20px;
    flex-direction: column;
    align-items: center;
}
.flexcolumn {
    flex-direction: column;
}
.areaitemfooter {
    flex: 1;
}
footer .widgettitletext {
    color: white;
}
.footercopy  {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: gray;
    font-size: 12px;
}
.footermenu a {
    display: flex;
    flex: 1;
    text-decoration: none;
    line-height: 30px;
}
footer .fmenu11 {
    font-size: 20px;
    color: white;
}
footer .fmenu111 {
    font-size: 12px;
    color: white;
}
.resumefooterc1 {
    margin-bottom: 40px;
}
.resume2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
}
.resume2 a {
    text-decoration: none;
    color: white;
}
.link {
    color: white; 
}
.link :hover {
    color: cyan;
    text-decoration: underline;  
}
.resumeboxtext {
    display: flex;
    align-items: baseline;
}
.resumetextpost {
    color: white;
    text-decoration: none;
    margin: 0;
}

.textblue {
    color: cyan;
    font-size: 12px;
    list-style: none;
    margin-left: 12px;
    margin-bottom: 30px;
}
.icone {
    display: flex;
    justify-content: center;
}
.icone img {
    width: 25px;
    margin: 5px 7px;
}
.logopeasyfoot {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logopeasyfoot img {
    cursor: pointer;
    max-width: 100px;
    height: auto;
    margin-bottom: 13px;
}


@media (max-width:750px) {

    /* menu mobile */  

    .menumob {
        width: 30px;
        height: 30px;
        right: 40px;
        top: 35px;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }
    .mmline {
        display: flex;
        width: 100%;
        height: 6px;
        background-color: #fcc52a;
        margin-top: 4px;
    }
    .opened {
        width: 200px;
    }
    .closed {
        width: 0px;
    }
    .areamenugeral {
        background-color: #2c2c2c88;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition: all ease 1s;
    }
    nav ul {
        display:flex;
        flex-direction: column;
        overflow: hidden;
    }
    .menumobile li {
        max-width: 100%;
        background-color: #fcc52a;
        text-align: center;
        padding: 5px;
        margin-top: 5px;
    }
    .menumobile a {
        padding: 0px;
        color: #2c2c2c;
    } 
    nav .activemenu a,
nav a:hover {
    transition: 1s;
    color: black;  
    }
    nav ul:hover {
        background-color: #2c2c2c88;
        color: #fcc52a;
    }
        /* menu mobile fim */

        /* area header  */ 
    header .logo {
        margin-left: 20px;
    }
    .logo img {
        height: 70px;
    }
    .sublogo img {
        margin-right: 100px;
        margin-left: 20px;
        width: 180px;
    }
    header {
        height: 100px;
    }
    header .container  {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #banner {
        background-image: url(../artgenius/images/bannerapenasolhoresponsivo.png);
        background-size: cover;
    }

    .banneroption {
        flex-direction: column;
        height: auto;
    }
    .bannerhead {
        padding-top: 150px;
        margin-bottom: 200px;
        padding-left: 20px;
    }
    .bannerhead h1 {
        font-size: 50px;
    }
    .bannerhead h2 {
        font-size: 25px;
    }
    #geral section {
        margin-left: 20px;
    }
    .container {
        flex-direction: column;
    }
    .widgetbody {
        justify-content: space-around;
    }
    .widgettitle {
        margin-left: 20px;
    }
    .descmarque {
        font-size: 20px;
    }
    .footermenu {
        flex-direction: column;
    }
    .areaitemfooter {
        padding-right: 20px;
    }
    .itemfooter {
        flex-direction: column;
        padding-left: 20px;
    }
    .footercopy {
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }






}