/* seção wind banner produtos */

.sectioproductgeral {
   padding: 20px;
   background-color: white;
   justify-content: center;
   text-align: center;
}
.areaimage {
   width: 250px;
   height: 200px;
   margin: 20px;
}
.areaproduct {
   display: flex;
   justify-content: center;
}
.areaimage img {   
   width: 100%;
   height: 100%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.areaimage:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.2);
}